
* {

    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.nav {
    text-align: right;
    padding: 20px;
    background-color: #293133;
    margin-top: 0px;
    color: white;
   
}
.side_box{

    background-color: rgb(238, 230, 230);
   
}

.pic{   
    height: 300px;
    width: 100%;
    
}

.fa-home {

    float: left;
    font-size: 24px;
    color:white;
    
}

#suchbegriff {
    font-size: 20px;
    margin-right: 20px;
}


.text {
    padding: 20px;
    float: left;
    box-sizing: border-box;
    width: 10%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family:cursive;

}
a {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
       
}

.fillIn {
    margin-left: 400px;
    margin-right: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.text07{
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    
}
.backg{
    image-orientation: from-image;
}
#h2{
    margin-bottom: 60px;
    margin-top: 60px;
}
#h3{
    text-decoration:underline;
    text-align: center;
    margin-top: 40px;
}
#specify{
    margin-top: 20px;
    margin-bottom: 20px;


}
#message{
    margin-top: 20px;
    margin-left: 26px;
    padding-right:15px;
  
}
#button{
    float: right;
    margin-right: 27px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#button:hover{
    background-color: #293133;
    color: whitesmoke;
    box-shadow:#293133;
}
#nutural{
    margin-left: 42px;
    margin-top: 20px;
}

#Summe{
    text-size-adjust: 20px;
    margin-bottom: 40px;
    font-size: bold;
}
#control_bought{
   
    margin-right: 40px;
   
}
.ordered{
    float: right;
    background-color: rgb(195, 214, 251);
    border-style:inset;
    margin-right: 40px;
}

#adresse{
    list-style: none;
}
#overview{
    border-style:dotted;
    border-color: #c15b0d;
    padding-left: 20px;
    font-size:x-small;
    font-style:bold ;
}
#border{
    margin-bottom: 200px;
    margin-top: 30px;
    margin-right: 40px;
    padding-left: 20px;
  
    
    
}
.ordered :hover{
    
    color: white;
    background-color: #293133;
}
.ordered a{
    font-size:x-small;
    
}
.footer {
 
    width: 100%;
    float: left;
    text-align: center;
    padding: 16px;
    margin-right: 30px;
    background-color: #293133;
    margin-bottom: auto;
   
    
}
.footer a{
    margin-right: 250px;

}
